<% if(mer) { %>
<article class="media bg-lg p-10">
<figure class="media-left">
<img src="img/jpg/<%= sku %>.jpg">
</p>
</figure>
<div class="media-content">
<div class="content">
<strong><%=shop.tit %>:<%= imer.m101%></strong> 
<br>

</div>
<% include ./lev%>
<form method="post" action="/cart">
    <input type="hidden" name="sku" value="<%= mer.sku %>">
    <input type="hidden" name="pri" value="<%= mer.pri %>"><br>
    <input class="input" type="number" name="uni" value="1"><br><br>
    <button class="button" type="submit">submit</button>
</form>

  </div>
  
<script src="js/sub.js"></script>
  </article>

<% } else {%> no sku <% } %>
