<header class="has-text-centered">
<p class="button is-info ">success</p><br>
</header>

<br>
<%= usr.name %>

<% if(mer) { %>

<article class="media">

<figure class="media-left">

<p class="image is-100x100">
<img src="img/jpg/<%= mer.sku %>.jpg">
</p>
</figure>

<div class="media-content has-background-lg p-10">
<strong><%=shop.tit %>:<%= mer.name %></strong> <br>
<%=shop.sku%>:<%= mer.sku %><br>
<%=shop.pri%>:<%= mer.pri %><br>

</div>

<div class="media-content has-background-ali p-10 has-text-centered ">
    <p class="has-text-centered button">    sum</p>

  </div>
</article>
<% } else {%> <%=shop.noit %><% } %>
