<article class="media">

<figure class="media-left">
    <img src=img/jpg/<%=mer.sku%>.jpg >
</figure>

<div class="media-content">

<div class="content p-2">

    name: <span id="ite<%=mer.sku%>e"></span><br>

<%=shop.sku%>:    <%=mer.sku%><br>
<%=shop.pri%>:    <%=mer.pri.toLocaleString()%>
<%=shop.yen%>
<br>
    detail: <%=mer.des%>
    <div id="t<%=mer.sku%>e"></div>
    <script src=ite/ite.js></script>
    <br><br>
</div>

 </div>
 <script src="js/sub.js"></script>
</article>

